<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="connstrs" connectionString="Data Source=ZHANGHUIXINPC;Initial Catalog=HZTraining;Persist Security Info=True;User ID=sa;Password=3.14159"/>
  </connectionStrings>
</configuration>